parameters:
	level: max
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime
	stubFiles:
		- ../../stubs/Channel.stub
		- ../../stubs/Event.stub
		- ../../stubs/functions.stub
		- ../../stubs/Future.stub
		- ../../stubs/Runtime.stub
